{% extends "base.html" %}
{% block content %}
<div class="row pt-4 justify-content-center">
    <div class="col-md-6 col-lg-5">
        <div class="card shadow-sm border-0 rounded-4">
            <div class="card-body p-5">
                <h3 class="text-center fw-bold text-primary mb-4 pb-2 border-bottom">Edit Profile</h3>
                <form method="POST" action="{{ url_for('student_profile') }}" enctype="multipart/form-data">
                    <div class="mb-4">
                        <label class="form-label text-secondary fw-semibold">Full Legal Name</label>
                        <input type="text" class="form-control form-control-lg bg-light" name="name" value="{{ current_user.name }}" required>
                    </div>
                    <div class="mb-4">
                        <label class="form-label text-secondary fw-semibold">Contact Phone</label>
                        <input type="text" class="form-control form-control-lg bg-light" name="contact_info" value="{{ current_user.student_profile.contact_info or '' }}">
                    </div>
                    <div class="mb-4">
                        <label class="form-label text-secondary fw-semibold">Linkedin Id</label>
                        <input type="link" class="form-control form-control-lg bg-light" name="link" value="{{ current_user.student_profile.contact_info or '' }}">
                    </div>
                    
                    <div class="mb-4">
                        <label class="form-label text-secondary fw-semibold">Resume Document</label>
                        <div class="input-group">
                            <input type="file" class="form-control form-control-lg bg-light" name="resume" accept=".pdf,.doc,.docx">
                        </div>
                        {% if current_user.student_profile.resume_file %}
                            <div class="mt-2 text-success fw-semibold"><i class="bi bi-file-earmark-check-fill me-1"></i> Resume successfully uploaded</div>
                        {% endif %}
                    </div>
                    
                    <button type="submit" class="btn btn-primary btn-lg w-100 fw-bold rounded-pill shadow-sm">Save Profile Changes</button>
                    <a href="{{ url_for('student_dashboard') }}" class="btn btn-outline-secondary btn-lg w-100 fw-bold rounded-pill shadow-sm mt-3">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
